<div>
  <h1
    class="
      bg-clip-text
      text-transparent
      bg-gradient-to-r
      from-green-400
      to-blue-500
      font-mono font-bold
      text-4xl
      mt-2
      text-center
    "
  >
    MoneyBung
  </h1>
  <span
    class="
      block
      mt-2
      font-poppins font-bold
      text-center text-gray-400
      tracking-wider
    "
    >Your daily transaction partner</span
  >