<footer
      class="
        fixed
        left-0
        bottom-0
        w-full
        border-t-2
        rounded-t-lg
        flex flex-row
        justify-evenly
        items-center
        bg-white
        p-1
        overflow-hidden
      "
    >
      <a class="cursor-pointer" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 text-gray-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
          <path
            fill-rule="evenodd"
            d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
            clip-rule="evenodd"
          />
        </svg>
      </a>

      <a class="cursor-pointer" href="/transaction/add">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-16 text-green-300"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
            clip-rule="evenodd"
          />
        </svg>
      </a>

      <a class="cursor-pointer" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 text-gray-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z" />
          <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z" />
        </svg>
      </a>
    </footer>