<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoneyBung</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body class="bg-gray-100 dark:bg-gray-800 p-5">
    <div class="container mx-auto w-80 h-full">
      <%- include('partials/title.ejs') %>
    </div>
  </body>
</html>
