<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoneyBung</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body class="bg-gray-100 dark:bg-gray-800 p-5">
    <div class="container mx-auto w-80 h-full">
      <%- include('partials/title.ejs') %>

      
      <form action="/register", method="POST" class="font-poppins mt-10">
        <div class="w-full mb-5">
          <input required class="pl-5 rounded-full border-none shadow-xl" type="text" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
        </div>
        <div class="w-full mb-5">
          <input required class="pl-5 rounded-full border-none shadow-xl" type="text" name="name" id="name" placeholder="Enter Name">
        </div>
        <div class="w-full mb-10">
          <input required class="pl-5 rounded-full border-none shadow-xl" type="password" name="password" id="password" placeholder="Enter Password">
        </div>

        <button class="rounded-full px-4 py-1 mr-4 bg-green-400 shadow-xl hover:bg-green-500" type="submit">Submit</button>
        <a class="rounded-full px-4 py-1 bg-red-400 shadow-xl hover:bg-red-500" href="/login">Cancel</a>
      </form>
      
    </div>
  </body>
</html>
